body{
    margin: 0 0 0 0;
}
header{
    height: 145px;    
}
a{
    text-decoration: none;
}
.prima-nav{
    background-color: lightgrey;
    height: 35px;
}
.link-prima-nav{
    display: inline-block;
    padding-left: 30px;
    color: black;
    text-decoration: none;
    margin: 5px 78px 5px 78px; 
}
.img-toto-shop{
    display: inline-block;
    padding-left: 200px;
}
.header-title{
    display: inline-block;
    height: 52px;
    width: 100%;
}
.form-searchbar{
    display: inline-block;
    padding: 6px 200px 5px 100px;
}
.search-btn{
    background-color: red;
}
.searchbar{
    width: 400px;
    height: 40px;
}
.link-seconda-nav{
    display: inline-block;
    padding-left: 70px;
    color: black;
    text-decoration: none;
}
.seconda-nav{
    background-color: #333233;

}
.dropdown {
    position: relative;
    display: inline-block;
    margin: 5px 75px 5px 75px;
}
.dropbtn {
    background-color: #333233;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white; color: red;}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: flex;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: red; background-color: white;}

main{
    background-color: black;
    height: 1400px;
    display: flex;
    justify-content: center;
}
.container-prodotti{
    background-color: black;
    height: 670px;
    width: 1100px;
    margin: 20px;
    display: flex;
    flex-direction: column;


}
.div1-prod{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div2-prod{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prodotti-1row{
    background-color: white;
    height: 300px;
    width: 150px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}
.prodotti-2row{
    background-color: white;
    height: 300px;
    width: 150px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}
img{
    height: 140px;
    width: 140px;
}
.nome-prodotto{
    color: black;
    font-size: 20px;
    align-self: center;
}
.prezzo-prodotto{
    color: black;
    font-size: 40px;
    
}
